<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>.navbar</title>

    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="navbar">
        <img
            src="/assets/image/ZostimeLogo.png"
            alt="Zostime logo"
        >

        <div class="right">
            <div class="links">
                <a href="/index.html">Home</a>
                <a href="/blog/index.html">Blog</a>
                <a href="/about/index.html">About</a>
            </div>

            <a class="menu">☰</a>
        </div>
    </div>
</body>
</html>