/* ./src/global.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1F1F1F;
    color: #FFFFFF;
    font-family: 'Microsoft YaHei', sans-serif;
}

.title {
    text-align: center;
    margin: 50px 20px 0;
}

.title .divider {
    background: #FFFFFF;
    border: none;
    margin: 20px auto;
    height: 1px;
    width: 80%;
}