/* ./src/global.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1F1F1F;
    color: #FFFFFF;
    font-family: 'Microsoft YaHei', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 56px;

    padding: 0 24px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #2A2A2A;

    background: #1F1F1FCC;
    backdrop-filter: blur(12px);
}

.navbar .logo {
    display: block;
    height: 50%;
    margin: 0;
}

.navbar .right {
    margin-left: auto;

    display: flex;
    align-items: center;

    gap: 16px;
}

.navbar .right .links {
    display: flex;
    gap: 24px;
}

.navbar .right .links a {
    text-decoration: none;
    color: inherit;
    transition:
        opacity 0.2s ease;
}

.navbar .right .links a:hover {
    opacity: 0.8;
}

.title {
    text-align: center;
    margin: 50px 20px 0;
}

.title .divider {
    background: #FFFFFF;
    border: none;
    margin: 20px auto;
    height: 1px;
    width: 80%;
}